<section id="intro">
  <div class="row">
      <div class="col-12">
          <div class="content-header">Intro</div>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <!-- <div class="card-header">
                  <h5>Personal Information</h5>
              </div> -->
              <div class="card-content">
                  <div class="card-body">
                      <div class="mb-3">
                          <span class="text-bold-500 primary">About Me:</span>
                          <span class="d-block overflow-hidden">Hi, I’m Jose, I’m 29 and I work as a Ninja Developer for the
                              “PIXINVENT” Creative Studio. In my research, I follow the flow of early medieval slavery from viking 
                              raids in the west, through the booming ports of the Scandinavian north, and out into the Islamic world.
                              Reading texts against the grain and seeing artifacts as traces of the past can make their lives once 
                              again visible to us today. This website documents my efforts to do just that, and I hope it will prove 
                              a resource and an inspiration for others in similar pursuits.
                          </span>
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6 col-lg-4">
                              <ul class="no-list-style">
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> Birthday:</a></span>
                                      <span class="d-block overflow-hidden">June 10th, 1988</span>
                                  </li>
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-map-pin font-small-3"></i> Birthplace:</a></span>
                                      <span class="d-block overflow-hidden">New Jersey, USA</span>
                                  </li>
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Lives in:</a></span>
                                      <span class="d-block overflow-hidden">Denver, USA</span>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <ul class="no-list-style">
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> Gender:</a></span>
                                      <span class="d-block overflow-hidden">Male</span>
                                  </li>
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> Email:</a></span>
                                      <a class="d-block overflow-hidden">jose@yourmail.com</a>
                                  </li>
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> Website:</a></span>
                                      <a class="d-block overflow-hidden">pixinvent.com</a>
                                  </li>
                              </ul>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                              <ul class="no-list-style">
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> Phone Number:</a></span>
                                      <span class="d-block overflow-hidden">(012) 345 - 678 - 9910</span>
                                  </li>
                                  <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> Joined:</a></span>
                                      <span class="d-block overflow-hidden">April 1st, 2012</span>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <!-- Text alignment section start -->
      <div class="col-md-12">
        <div class="card">
            <!-- <div class="card-header">
                    <span class="text-bold-500 primary">Skills</span>
            </div> -->
          

        <!--Contextual progress bars Starts-->
        <div class="col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">

                            <span class="text-bold-500 primary">Profession</span>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i> Occupation:</a></span>
                                    <span class="d-block overflow-hidden">Ninja Developer</span>
                                </div>
                                <div class="col-12 col-md-6 mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-home font-small-3"></i> Place of work:</a></span><span class="text-danger" ><i class="ml-2 ft-check-circle font-small-3"></i> Verified</span>
                                    <span class="d-block overflow-hidden">Eco Africa Limited</span>
                                </div>

                                <div class="col-12 col-md-12 mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> Location:</a></span>
                                    <span class="d-block overflow-hidden">Nigeria, Lagos, Ikorodu</span>
                                </div>

                            </div>

                            <hr>
                        <div>
                            <span class="text-bold-500 primary">Skills</span>
                            <p>
                                HTML: 
                                <small class="float-right">200/1000 (level 0)</small>
                                <ngb-progressbar type="success" [value]="25"></ngb-progressbar>
                                <small class="text-success" >Verified by 4 institutions</small>
                            </p>
                            <p>
                                PHP: <ngb-progressbar type="info" [value]="50"></ngb-progressbar>
                            </p>
                            <p>
                                Building: <ngb-progressbar type="warning" [value]="75"></ngb-progressbar>
                            </p>
                            <p>
                                Singing: <ngb-progressbar type="danger" [value]="100"></ngb-progressbar>
                            </p>
                        </div>
                    </div>
                    <a class="primary">View more skills</a>
                </div>
            </div>
        </div>
        <!--Contextual progress bars Ends-->


        </div>
      </div>

      <!-- Certifications -->
      <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <span class="text-bold-500 primary">Certifications</span>
            </div>


            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-sm-12 border rounded mb-1 pt-1">
                                    <div class="row">
                                        <div class="col-xs-6 ml-2">
                                            <img alt="96x96" class="media-object mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                                        </div>
                                        <div class="col-xs-6">
                                            <h4 class="font-medium-1 mb-0">Jessica Rice</h4>
                                            <p class="text-muted font-small-3">UX Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 border rounded p-3 mb-1"></div>
                                <div class="col-sm-12 border rounded p-3 mb-1"></div>
                                <div class="col-sm-12 border rounded p-3 mb-1"></div>
                            </div>
                        </div>
                        <a class="primary">View more Activities</a>
            
                    </div>
                </div>
            </div>
        </div>
       </div>

      <!-- Recent Activities -->
      <div class="col-md-12">
        <div class="card">

          <div class="card-header">
                <span class="text-bold-500 primary">Recent Activities</span>
            </div>


          <div class="col-12">
              <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-sm-12 border rounded mb-1 pt-1">
                                    <div class="row">
                                        <div class="col-xs-6 ml-2">
                                            <img alt="96x96" class="media-object mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                                        </div>
                                        <div class="col-xs-6">
                                            <h4 class="font-medium-1 mb-0">Jessica Rice</h4>
                                            <p class="text-muted font-small-3">UX Designer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 border rounded p-3 mb-1"></div>
                                <div class="col-sm-12 border rounded p-3 mb-1"></div>
                                <div class="col-sm-12 border rounded p-3 mb-1"></div>
                            </div>
                        </div>
                        <a class="primary">View more Activities</a>
            
                    </div>
              </div>
          </div>
        </div>
      </div>
  <!-- Text alignment section end -->
  </div>
</section>