<div class="card">

    <div class="card-header border-bottom">
      <div class="media mb-1">
        <div class="media-left">
          <span class="avatar avatar-md avatar-online"><img alt="Generic placeholder image" class="media-object mr-1 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png"><i></i></span>
        </div>
        <div class="media-body">
            <small class="display-block primary"><strong>Samuel Adogo</strong></small>
            <small class="display-block mt--5"><strong> lore Portfolio project work</strong></small>
            <small class="display-block mt--5 text-muted smaller-font">Community - Problem</small>
            <small class="display-block mt--5 text-muted smaller-font">5 hours ago</small>
        </div>
      </div>
        
        
        <!-- <div class="card-subtitle text-muted mt-0">
          <small>Community - Problem</small>
          <span class="font-small-3 display-block"><small>5 hours ago</small></span>
        </div> -->
    </div>

    <div class="card-content">
        <div class="card-content">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-6">
                  <img class="img-fluid" src="assets/img/photos/06.jpg" alt="Timeline Image 1">
              </div>
              <div class="col-md-6">
                  <p class="card-text">Nullam facilisis fermentum aliquam. Suspendisse ornare dolor vitae libero hendrerit auctor lacinia a ligula. Curabitur elit tellus, porta ut orci sed, fermentum bibendum nisi.</p>
              </div>
            </div>
            <div class="list-inline mb-1">
              <span class="pr-1"><a class="primary"><span class="fa fa-thumbs-o-up"></span> Adopt</a></span>
              <span class="pr-1"><a class="primary"><span class="fa fa-commenting-o"></span> Vote</a></span>
              <span class="float-right"><a class="primary"><span class="fa fa-share-alt"></span> Share</a></span>
            </div>
          </div>
        </div>
        <div class="card-footer px-0 py-0">
        <div class="card-body">

          <div class="list-inline">
            <span class="pr-1"><a class="primary"><span class="fa fa-commenting-o"></span> view 186 more messages</a></span>
          </div>

          <div>
            <app-private-chat-feeds></app-private-chat-feeds>
          </div>

          <form>
              <fieldset class="form-group position-relative has-icon-left mb-0">
                  <input type="text" class="form-control" placeholder="Write comments...">
                  <div class="form-control-position">
                      <i class="fa fa-dashcube"></i>
                  </div>
              </fieldset>
          </form>

        </div>
        </div>
    </div>


  </div>