<!--Basic User Details Starts-->
<section id="user-profile">
  <div class="row">
      <div class="col-12">
          <div class="card profile-with-cover">
              <div class="card-img-top img-fluid bg-cover height-300" style="background: url('assets/img/photos/14.jpg') 50%;"></div>
              <div class="media profil-cover-details row">
                  <div class="col-5">
                      <div class="align-self-start halfway-fab pl-3 pt-2">
                          <div class="text-left">
                              <h3 class="card-title white">Jose Diaz</h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="align-self-center halfway-fab text-center">
                          <a class="profile-image">
                              <img src="assets/img/portrait/avatars/avatar-08.png" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                          </a>
                      </div>
                  </div>
                  <div class="col-5">                        
                  </div>                    
              </div>
              <div class="profile-cover-buttons">
                  <div class="media-body halfway-fab align-self-end">
                      <div class="text-right d-none d-sm-none d-md-none d-lg-block">
                          <button type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i> Follow</button>
                          <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i> Message</button>
                      </div>
                      <div class="text-right d-block d-sm-block d-md-block d-lg-none">
                          <button type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i></button>
                          <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i></button>
                      </div>
                  </div>
              </div>
              <div class="profile-section">
                  <div class="row">
                      <div class="col-lg-5 col-md-5 ">
                          <ul class="profile-menu no-list-style">
                              <li>
                                  <a [routerLink]="['/'+appRoutes.private.profile.intro.path]" routerLinkActive="active"  >Intro</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/'+appRoutes.private.profile.projects.path]" routerLinkActive="active" >Projects</a>
                              </li>
                          </ul>
                      </div>
                      <div class="col-lg-2 col-md-2 text-center">
                          <span class="font-medium-2 text-uppercase">Jose Diaz</span>
                          <p class="grey font-small-2">Ninja Developer</p>
                      </div>
                      <div class="col-lg-5 col-md-5">
                          <ul class="profile-menu no-list-style">
                              <li>
                                  <a [routerLink]="['/'+appRoutes.private.profile.communities.path]" routerLinkActive="active" >Communities</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/private', 'profile', 'Store']" routerLinkActive="active"  >Store</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Basic User Details Ends-->