<div class="media my-1">
    <div class="media-left">
      <a>
          <span class="avatar avatar-online"><img src="assets/img/portrait/small/avatar-s-1.png" alt="avatar" width="50"></span>
        </a>
    </div>
    <div class="media-body">

      <div class="rounded p-1 chat-bubble">
          <span class="text-bold-600 mb-0"><a>Jason Ansley: </a></span>
          <span class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</span>    
      </div>

      <div class="list-inline mb-1">
        <span class="pr-1"><a class="primary"><span class="fa fa-thumbs-o-up"></span> Like</a>
        </span>
        <!-- <span class="pr-1"><a class="primary"><span class="fa fa-commenting-o"></span> Replay</a>
        </span> -->
      </div>


      <!-- <div class="media my-1">
        <div class="media-left">
          <a>
              <span class="avatar avatar-online"><img src="assets/img/portrait/small/avatar-s-18.png" alt="avatar" width="50"></span>
            </a>
        </div>
        <div class="media-body">
          
          <div class="rounded p-1 chat-bubble">
            <span class="text-bold-600 mb-0"><a>Janice Johnston: </a></span>
            <span>Gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</span>
          </div>

          <div class="list-inline mb-1">
            <span class="pr-1"><a class="primary"><span class="fa fa-thumbs-o-up"></span> Like</a>
            </span>
            <span class="pr-1"><a class="primary"><span class="fa fa-commenting-o"></span> Replay</a>
            </span>
          </div>

        </div>
      </div> -->

    </div>
  </div>