// Maintenance

#maintenance {
  background-image: url('../../../../assets/img/gallery/light-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media(max-width: 768px) {
  #maintenance {
    .maintenance-img {
      width: 300px;
    }
  }
}
