// Error
#error {
    background-image: url('../../../../assets/img/gallery/light-bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  @media(max-width:768px) {
    #error {
      .error-img {
        width: 300px;
      }
    }
  }
  