.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.dragdrop-wrapper {
  display: table;
}

/* .dragdrop-container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    width: 25%;
  } */
.dragdrop-container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

/*
   * note that styling gu-mirror directly is a bad practice because it's too generic.
   * you're better off giving the draggable elements a unique class and styling that directly!
   */
.dragdrop-container > div,
.gu-mirror {
  // margin: 10px;
  // padding: 10px;
  // background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}

.dragdrop-container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.dragdrop-container .ex-moved {
  background-color: #e74c3c;
}

.dragdrop-container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}

#left-lovehandles > div,
#right-lovehandles > div {
  cursor: initial;
}

.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}

.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}

.slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
}

.taskboard-app-input {
  i.ft.ft-plus-circle {
    position: relative;
    top: 2px;
  }
  .form-control-position.control-position-right {
    .gallery-icon-title {
      position: absolute;
      left: 363px;
      font-size: 1.2rem;
      top: 7px;
    }

    .gallery-icon-msg {
      position: absolute;
      left: 573px;
      font-size: 1.2rem;
      top: 7px;
    }
  }
}

@media (max-width: 992px) {
  .taskboard-app-input {
    i.ft.ft-plus-circle {
      padding: 0.25rem;
    }
  }
}
