<div class="card">

    <div class="card-header border-bottom">
        <span class="avatar avatar-md avatar-online"><img alt="Generic placeholder image" class="media-object mr-1 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png"><i></i></span>
        <small><strong>Portfolio project work</strong></small>
        <button class="btn btn-raised mr-1 shadow-z-2 btn-primary pull-right">Join project</button>
        <div class="card-subtitle text-muted mt-0">
            <span class="font-small-3">5 hours ago</span>
        </div>
    </div>

    <div class="card-content">
        <div class="card-content">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-md-6">
                  <img class="img-fluid" src="assets/img/photos/06.jpg" alt="Timeline Image 1">
              </div>
              <div class="col-md-6">
                  <p class="card-text">Nullam facilisis fermentum aliquam. Suspendisse ornare dolor vitae libero hendrerit auctor lacinia a ligula. Curabitur elit tellus, porta ut orci sed, fermentum bibendum nisi.</p>
              </div>
            </div>
            <div class="list-inline mb-1">
              <span class="float-right"><a class="primary"><span class="fa fa-share-alt"></span> Share</a></span>
            </div>
          </div>
        </div>
        <div class="card-footer px-0 py-0">
        </div>
    </div>


  </div>