<!--Registration Page Starts-->
<section id="regestration">
    <div class="container-fluid">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-content">
              <div class="card-body register-img">
                <div class="row m-0">


                  <section class="col-lg-6 d-none d-lg-block py-2 px-3 text-center">
                    <img
                      src="../../assets/img/gallery/register.png"
                      alt=""
                      class="img-fluid mt-3 pl-3"
                      width="400"
                      height="230"
                    />
                  </section>


                  <section class="col-lg-6 col-md-12 pt-3 px-4 bg-white">
                    <form [formGroup]="signupForm" >
                      <h4 class="card-title mb-2">Be part of ECO</h4>
                      <p class="card-text mb-3">
                        and impact the society
                      </p>
                      
                      <!-- First Name -->
                      <div>
                        <mat-form-field>

                          <!-- First Name Input Field -->
                          <input
                            matInput
                            type="text"
                            placeholder="First Name"
                            formControlName="firstName"
                          />

                          <!-- First Name Error Message -->
                          <mat-error class="error-block">
                            
                            <app-validator-error-message [form]="signupForm" [field]="'firstName'" ></app-validator-error-message>
                          
                          </mat-error>

                        </mat-form-field>
                      </div>

                      <!-- Last Name -->
                      <div>
                        <mat-form-field>

                          <!-- Last Name Input Field -->
                          <input
                            matInput
                            type="text"
                            placeholder="Last Name"
                            formControlName="lastName"
                          />

                          <!-- Last Name Error Message -->
                          <mat-error class="error-block">
                            
                            <app-validator-error-message [form]="signupForm" [field]="'lastName'" ></app-validator-error-message>

                          </mat-error>

                        </mat-form-field>
                      </div>

                      <!-- Username -->
                      <div>
                        <mat-form-field>

                          <input
                            matInput
                            type="text"
                            placeholder="Username"
                            formControlName="username"
                          />

                          <!-- Username Error Message -->
                          <mat-error class="error-block">
                          <app-validator-error-message [form]="signupForm" [field]="'username'" ></app-validator-error-message>

                          </mat-error>

                        </mat-form-field>
                      </div>

                      <!-- Email -->
                      <div>
                        <mat-form-field>

                          <!-- Email Input field -->
                          <input
                            matInput
                            placeholder="Email"
                            formControlName="emailAddress"
                          />
                          
                          <!-- Email Error Message -->
                          <mat-error class="error-block">
                            <app-validator-error-message [form]="signupForm" [field]="'emailAddress'" ></app-validator-error-message>
                          </mat-error>

                        </mat-form-field>
                      </div>

                      <!-- Password -->
                      <div>
                        <mat-form-field>

                          <!-- Password Input Field -->
                          <input
                            matInput
                            type="password"
                            placeholder="Password"
                            formControlName="password"
                          />

                          <!-- Password Error Message -->
                          <mat-error class="error-block">  
                            <app-validator-error-message [form]="signupForm" [field]="'password'" ></app-validator-error-message>
                          </mat-error>

                        </mat-form-field>
                      </div>

                      <!-- Confirm Password -->
                      <div>
                        <mat-form-field>

                          <!-- Confirm Password Input Field -->
                          <input
                            matInput
                            type="password"
                            placeholder="Confirm Password"
                            formControlName="confirmPassword"
                          />

                          <!-- Confirm Password Error Message -->
                          <mat-error class="error-block">
                            <app-validator-error-message [form]="signupForm" [field]="'confirmPassword'" ></app-validator-error-message>
                          </mat-error>

                        </mat-form-field>
                      </div>
                      
                      <div class="custom-control custom-checkbox custom-control-inline mb-3">
                        <input
                          type="checkbox"
                          id="customCheckboxInline1"
                          name="customCheckboxInline1"
                          class="custom-control-input"
                          formControlName="agreeToTermsAndCondition"
                        />
                        <label
                          class="custom-control-label"
                          for="customCheckboxInline1"
                        >
                          I accept the terms & conditions.
                        </label>

                        <!-- Agree to terms and condition Error Message -->
                        <span class="text-danger d-block">

                          <app-validator-error-message [form]="signupForm" [field]="'agreeToTermsAndCondition'" ></app-validator-error-message>

                        </span>

                      </div>

                      <div class="fg-actions d-flex justify-content-between">
                        <div class="login-btn">
                          <button type="button" class="btn btn-outline-primary">
                            <a
                              class="text-decoration-none"
                              [routerLink]="['/public/signin']"
                            >
                              Back To Login
                            </a>
                          </button>
                        </div>

                        <div class="recover-pass">

                          <button 
                            class="btn btn-primary" 
                            (click)="submit()" 
                            [disabled]="signupForm.invalid"
                            >
                              Signup <mat-spinner *ngIf="loading" class="spinner-white d-inline mx-1" [diameter]="17" ></mat-spinner>
                          </button>

                        </div>

                      </div>

                    </form>

                  </section>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Registration Page Ends-->
  