@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia";
@import "scss/app-variables";
@import "scss/mixins";
@import "scss/core/palette";
@import "scss/custom-bootstrap";
@import "scss/custom-bootstrap-rtl";
@import "scss/core";
@import "scss/fonts/weather-icons";
@import "scss/plugins";
@import "scss/demo"; // Remove this SCSS from production
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-form-field {
    width: 100%;
}

.error-block > small {
    display: none;
}

.error-block > small:first-child {
    display: block;
}

/* Rules for sizing the icon. */
.material-icons.md-4-5 { font-size: 4.5px; height: 4.5px; width: 4.5px;}
.material-icons.md-9 { font-size: 9px; height: 9px; width: 9px;}
.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px;}
.material-icons.md-24 { font-size: 24px; height: 24px; width: 24px;}
.material-icons.md-36 { font-size: 36px; height: 36px; width: 36px;}
.material-icons.md-48 { font-size: 48px; height: 48px; width: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.mat-progress-spinner circle, .mat-spinner circle {
    margin: 0px 4px;
    
}

// Make spinner white
.spinner-white.mat-progress-spinner circle, .spinner-white.mat-spinner circle {
    stroke: #fff!important;
}

// Make spinner white
.spinner-eco.mat-progress-spinner circle, .spinner-eco.mat-spinner circle {
    stroke: #027779!important;
}

.profile-section .profile-menu {
    position: relative;
    top: -30px;
    padding-bottom: 0;
    padding-left: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
}

#user-profile .profile-with-cover .profil-cover-details {
    margin-top: -50px;
}

#user-profile .profile-with-cover .profile-cover-buttons {
    position: absolute;
    top: 250px;
    right: 0;
}