<!--Lock Screen Starts-->
<section id="lock-screen">
    <div class="container-fluid forgot-password-bg">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="card">
            <div class="card-content">
              <div class="card-body lock-screen-img">
                <div class="row m-0">
                  <div class="col-lg-6 d-lg-block d-none text-center py-2">
                    <img
                      src="../../assets/img/gallery/lock.png"
                      alt=""
                      class="img-fluid"
                      height="230"
                      width="400"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12 pt-3 px-4 bg-white">


                   <form [formGroup]="resetPasswordForm">
                      <h4 class="card-title mb-3">
                        Type in your new password
                      </h4>


                      <mat-form-field>
                        <input
                          matInput
                          type="password"
                          placeholder="New Password"
                          formControlName="password"
                        />

                        <mat-error>
                          <app-validator-error-message [form]="resetPasswordForm" [field]="'password'" ></app-validator-error-message>
                        </mat-error>

                      </mat-form-field>

                      <mat-form-field>
                        <input
                          matInput
                          type="password"
                          placeholder="Confirm New Password"
                          formControlName="confirmPassword"
                        />

                        <mat-error>
                          <app-validator-error-message [form]="resetPasswordForm" [field]="'confirmPassword'" ></app-validator-error-message>
                        </mat-error>

                      </mat-form-field>


                      <div class="fg-actions d-flex justify-content-between">

                        <div class="login-btn">
                          <button type="button" class="btn btn-outline-primary">
                            <a
                              class="text-decoration-none"
                              [routerLink]="['/public/signin']"
                            >
                              Back To Login
                            </a>
                          </button>
                        </div>


                        <div class="recover-pass">
                          <button class="btn btn-primary" [disabled]="resetPasswordForm.invalid || loading" (click)="resetPassword()" >
                             <span class="text-white">
                               Change Password
                               <mat-spinner *ngIf="loading" class="spinner-white d-inline mx-1" [diameter]="17" ></mat-spinner>
                              </span>
                          </button>
                        </div>


                      </div>
                    </form>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Lock Screen Ends-->
  