// Coming Soon

#coming-soon {
  background-image: url('../../../../assets/img/gallery/light-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .card-coming-soon {
    border-radius: 0.5rem;
  }

  .getting-started {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cs-text-divider {
    width: 100%;
    text-align: center;

    hr {
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }

    span {
      position: relative;
      top: 11px;
    }
  }

  .btn.btn-lg.btn-primary {
    color: #fff !important;
  }
}


@media(max-width:540px) {
  #coming-soon {
    overflow: hidden;

    .card-coming-soon {
      position: relative;
      top: -12px;

      .card-header {
        padding: 1rem;

        h4.card-title {
          font-size: 1rem;
        }
      }

      img.img-cs {
        width: 100px;
      }

      .cs-text-divider {

        hr {
          margin-left: auto;
          margin-right: auto;
          width: 35%;
        }
      }

      .getting-started {
        padding-top: 0 !important;
        margin-top: auto !important;

        .clockCard {
          margin-bottom: 0.5rem !important;

          P.lead {
            margin-top: 0 !important;
          }
        }
      }

      input.form-control {
        margin-top: 0.5rem !important;
      }
    }

  }
}
