<!--User Timeline section starts-->
<section id="projects">   
  <div class="row">
      <div class="col-12">
          <div class="content-header">Projects</div>
      </div>
  </div>
  <div id="timeline" class="timeline-center timeline-wrapper">
      <ul class="timeline">
          <li class="timeline-line"></li>
          <li class="timeline-group">
              <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Today</a>
          </li>
      </ul>
      <ul class="timeline">
          <li class="timeline-line"></li>
          <li class="timeline-item">
              <div class="timeline-badge">
              <span class="bg-red bg-lighten-1" data-toggle="tooltip" data-placement="right" title="Portfolio project work"><i class="fa fa-plane"></i></span>
              </div>
              <div class="timeline-card card border-grey border-lighten-2">
              <div class="card-header">
                  <h4 class="mb-0 card-title"><a>Portfolio project work</a></h4>
                  <div class="card-subtitle text-muted mt-0">
                      <span class="font-small-3">5 hours ago</span>
                  </div>
              </div>
              <div class="card-content">
                  <img class="img-fluid" src="assets/img/photos/06.jpg" alt="Timeline Image 1">
                  <div class="card-content">
                  <div class="card-body">
                      <p class="card-text">Nullam facilisis fermentum aliquam. Suspendisse ornare dolor vitae libero hendrerit auctor lacinia a ligula. Curabitur elit tellus, porta ut orci sed, fermentum bibendum nisi.</p>
                      <div class="list-inline mb-1">
                      <span class="pr-1"><a class="primary"><span class="fa fa-thumbs-o-up"></span> Like</a></span>
                      <span class="pr-1"><a class="primary"><span class="fa fa-commenting-o"></span> Comment</a></span>
                      <span><a class="primary"><span class="fa fa-share-alt"></span> Share</a></span>
                      </div>
                  </div>
                  </div>
                  <div class="card-footer px-0 py-0">
                  <div class="card-body">
                      <form>
                          <fieldset class="form-group position-relative has-icon-left mb-0">
                              <input type="text" class="form-control" placeholder="Write comments...">
                              <div class="form-control-position">
                                  <i class="fa fa-dashcube"></i>
                              </div>
                          </fieldset>
                      </form>
                  </div>
                  </div>
              </div>
              </div>
          </li>            
          <li class="timeline-item mt-5">
              <div class="timeline-badge">
              <span class="avatar avatar-online" data-toggle="tooltip" data-placement="right" title="Eu pid nunc urna integer"><img src="assets/img/portrait/small/avatar-s-5.png" alt="avatar" width="40"></span>
              </div>
              <div class="timeline-card card card-inverse">
              <img class="card-img img-fluid" src="assets/img/photos/07.jpg" alt="Card image">
              <div class="card-img-overlay bg-overlay">
                  <h4 class="card-title">Good Morning</h4>
                  <p class="card-text"><small>15 hours ago</small></p>
              </div>
              </div>
          </li>
      </ul>

      <!-- 2016 -->
      <ul class="timeline">
          <li class="timeline-line"></li>
          <li class="timeline-group">
              <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 2016</a>
          </li>
      </ul>
      <ul class="timeline">
          <li class="timeline-line"></li><!-- /.timeline-line -->
          <li class="timeline-item">
              <div class="timeline-badge">
              <span class="bg-warning bg-darken-1" data-toggle="tooltip" data-placement="right" title="Application API Support"><i class="fa fa-life-ring"></i></span>
              </div>
              <div class="timeline-card card border-grey border-lighten-2">
              <div class="card-header">
                  <div class="media">
                  <div class="media-left">
                      <a>
                      <span class="avatar avatar-md avatar-busy"><img src="assets/img/portrait/small/avatar-s-11.png" alt="avatar" width="50"></span>
                      <i></i>
                      </a>
                  </div>
                  <div class="media-body">
                      <h4 class="mb-0 card-title"><a>Application API Support</a></h4>
                      <div class="card-subtitle text-muted mt-0">
                          <span class="font-small-3">15 Oct, 2016 at 8.00 A.M</span>
                          <span class="tag tag-pill tag-default tag-warning float-right">High</span>
                      </div>  
                  </div>
                  </div>
              </div>
              <div class="card-content">
                  <img class="img-fluid" src="assets/img/photos/08.jpg" alt="Timeline Image 1">
                  <div class="card-content">
                  <div class="card-body">
                      <p class="card-text">Nullam facilisis fermentum aliquam. Suspendisse ornare dolor vitae libero hendrerit auctor lacinia a ligula. Curabitur elit tellus, porta ut orci sed, fermentum bibendum nisi.</p>
                      <div class="list-inline mb-1">
                      <span class="pr-1"><a class="primary"><span class="fa fa-commenting-o"></span> Comment</a></span>
                      </div>
                  </div>
                  </div>
                  <div class="card-footer px-0 py-0">
                  <div class="card-body">
                      <div class="media">
                      <div class="media-left">
                          <a>
                          <span class="avatar avatar-online"><img src="assets/img/portrait/small/avatar-s-14.png" alt="avatar" width="50"></span>
                          </a>
                      </div>
                      <div class="media-body">
                          <p class="text-bold-600 mb-0"><a>Crystal Lawson</a></p>
                          <p class="m-0">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                          <div class="media">
                          <div class="media-left">
                              <a>
                              <span class="avatar avatar-online"><img src="assets/img/portrait/small/avatar-s-16.png" alt="avatar" width="50"></span>
                              </a>
                          </div>
                          <div class="media-body">
                              <p class="text-bold-600 mb-0"><a>Rafila Găitan</a></p>
                              <p>Gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                          </div>
                          </div>
                      </div>
                      </div>
                      <form>
                          <fieldset class="form-group position-relative has-icon-left mb-0">
                              <input type="text" class="form-control" placeholder="Write comments...">
                              <div class="form-control-position">
                                  <i class="fa fa-dashcube"></i>
                              </div>
                          </fieldset>
                      </form>
                  </div>
                  </div>
              </div>
              </div>
          </li>
          <li class="timeline-item mt-5">
              <div class="timeline-badge">
              <span class="bg-amber bg-darken-1" data-toggle="tooltip" data-placement="left" title="Quote of the day"><i class="fa fa-smile-o"></i></span>
              </div>
              <div class="timeline-card card border-grey border-lighten-2">
              <div class="card-header">
                  <h4 class="mb-0 card-title"><a>Quote of the day</a></h4>
                  <div class="card-subtitle text-muted mt-0">
                      <span class="font-small-3">03 March, 2016 at 5 P.M</span>
                  </div>
              </div>
              <div class="card-content">
                  <img class="img-fluid" src="assets/img/photos/09.jpg" alt="Timeline Image 1">
                  <div class="card-body">
                  <blockquote class="card-bodyquote">
                      <p class="card-text">Eu pid nunc urna integer, sed, cras tortor scelerisque penatibus facilisis a pulvinar, rhoncus sagittis ut nunc elit! Sociis in et?</p>
                      <footer>Someone famous in <cite title="Source Title"> - Source Title</cite></footer>
                  </blockquote>
                  </div>
              </div>
              </div>
          </li>
      </ul>
      <!-- 2015 -->
      <ul class="timeline">
          <li class="timeline-line"></li>
          <li class="timeline-group">
              <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Founded in 2015</a>
          </li>
      </ul>
  </div>
</section>
<!--User Timeline section ends-->