// Forgot Password

#lock-screen {
  background-image: url("../../../../assets/img/gallery/light-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .lock-screen-img {
    background: #f0f0f0;
    padding: 0;
  }

  .btn.btn-link.text-decoration-none {
    &:hover {
      text-decoration: none !important;
    }
  }

  .login-btn {
    .btn.btn-link {
      font-size: 14px;
    }
  }
}
