<section id="communities">

        <div class="row">
            <div class="col-12">
                <div class="content-header">Intro</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    
                    <div class="card">
                            <div class="card-content">
                                <div class="card-body text-center">
                                    <div class="row">
                                        <div class="media m-1 col-sm-5 border pt-2">
                                            <a> 
                                                <img alt="96x96" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="font-medium-1 mt-1 mb-0">Jessica Rice</h4>
                                                <p class="text-muted font-small-3">UX Designer</p>
                                            </div>
                                        </div>
                                        <div class="media m-1 col-sm-5 border pt-2">
                                            <a> 
                                                <img alt="96x96" class="media-object d-flex mr-3 bg-danger height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-11.png">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="font-medium-1 mt-1 mb-0">Jacob Rios</h4>
                                                <p class="text-muted font-small-3">HTML Developer</p>
                                            </div>
                                        </div>
                                        <div class="media m-1 col-sm-5 border pt-2">
                                            <a> 
                                                <img alt="96x96" class="media-object d-flex mr-3 bg-success height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="font-medium-1 mt-1 mb-0">Russell Delgado</h4>
                                                <p class="text-muted font-small-3">Database Designer</p>
                                            </div>
                                        </div>
                                        <div class="media m-1 col-sm-5 border pt-2">
                                            <a> 
                                                <img alt="96x96" class="media-object d-flex mr-3 bg-warning height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-6.png">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="font-medium-1 mt-1 mb-0">Sara McDonald</h4>
                                                <p class="text-muted font-small-3">Team Leader</p>
                                            </div>
                                        </div>
                                        <div class="media m-1 col-sm-5 border pt-2">
                                            <a> 
                                                    <img alt="96x96" class="media-object d-flex mr-3 bg-info height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-18.png">
                                                </a>
                                            <div class="media-body">
                                                <h4 class="font-medium-1 mt-1 mb-0">Janet Lucas</h4>
                                                <p class="text-muted font-small-3">Project Manger</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="action-buttons mt-2 text-center">
                                        <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2">Add New</a>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
</section>