<!--User's friend section starts-->
<section id="communities">
  <div class="row">
      <div class="col-12">
          <div class="content-header">Communities</div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header text-center">
                  <img src="./assets/img/portrait/small/avatar-s-3.png" alt="Brek" width="150" class="rounded-circle gradient-mint">
              </div>
              <div class="card-content">
                  <div class="card-body text-center">
                      <h4 class="card-title">Brek Padio</h4>
                      <p class="category text-gray font-small-4">CEO / Co-Founder</p>
                      <a class="btn btn-lg gradient-mint font-small-2 white p-2 mr-2">Add as Friend</a>
                      <a class="btn btn-lg btn-outline-grey font-small-2 p-2">Message</a>
                      <hr class="grey">
                      <div class="row grey">
                          <div class="col-4">
                              <a><i class="ft-star mr-1"></i> <span>4.9</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-globe mr-1"></i> <span>USA</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-book mr-1"></i> <span>21</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header text-center">
                  <img src="./assets/img/portrait/small/avatar-s-18.png" alt="Jassi" width="150" class="rounded-circle gradient-pomegranate">
              </div>
              <div class="card-content">
                  <div class="card-body text-center">
                      <h4 class="card-title">Jassi Lee</h4>
                      <p class="category text-gray font-small-4">Ninja Developer</p>
                      <a class="btn btn-lg gradient-pomegranate font-small-2 white p-2 mr-2">Add as Friend</a>
                      <a class="btn btn-lg btn-outline-grey font-small-2 p-2">Message</a>
                      <hr class="grey">
                      <div class="row grey">
                          <div class="col-4">
                              <a><i class="ft-star mr-1">star</i> <span>4.7</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-globe mr-1"></i> <span>Canada</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-book mr-1"></i> <span>14</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header text-center">
                  <img src="./assets/img/portrait/small/avatar-s-11.png" alt="Brek" width="150" class="rounded-circle gradient-orange-amber">
              </div>
              <div class="card-content">
                  <div class="card-body text-center">
                      <h4 class="card-title">Peter Steven</h4>
                      <p class="category text-gray font-small-4">Android Developer</p>
                      <a class="btn btn-lg gradient-orange-amber font-small-2 white p-2 mr-2">Add as Friend</a>
                      <a class="btn btn-lg btn-outline-grey font-small-2 p-2">Message</a>
                      <hr class="grey">
                      <div class="row grey">
                          <div class="col-4">
                              <a><i class="ft-star mr-1">star</i> <span>5.0</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-globe mr-1"></i> <span>India</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-book mr-1"></i> <span>18</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header text-center">
                  <img src="./assets/img/portrait/small/avatar-s-6.png" alt="Maitri" width="150" class="rounded-circle gradient-red-pink">
              </div>
              <div class="card-content">
                  <div class="card-body text-center">
                      <h4 class="card-title">Maitri Rajput</h4>
                      <p class="category text-gray font-small-4">UX Designer</p>
                      <a class="btn btn-lg gradient-red-pink font-small-2 white p-2 mr-2">Add as Friend</a>
                      <a class="btn btn-lg btn-outline-grey font-small-2 p-2">Message</a>
                      <hr class="grey">
                      <div class="row grey">
                          <div class="col-4">
                              <a><i class="ft-star mr-1">star</i> <span>4.5</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-globe mr-1"></i> <span>India</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-book mr-1"></i> <span>19</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header text-center">
                  <img src="./assets/img/portrait/small/avatar-s-9.png" alt="Anibal" width="150" class="rounded-circle gradient-blackberry">
              </div>
              <div class="card-content">
                  <div class="card-body text-center">
                      <h4 class="card-title">Anibal Santo</h4>
                      <p class="category text-gray font-small-4">Project Developer</p>
                      <a class="btn btn-lg gradient-blackberry font-small-2 white p-2 mr-2">Add as Friend</a>
                      <a class="btn btn-lg btn-outline-grey font-small-2 p-2">Message</a>
                      <hr class="grey">
                      <div class="row grey">
                          <div class="col-4">
                              <a><i class="ft-star mr-1">star</i> <span>4.8</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-globe mr-1"></i> <span>London</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-book mr-1"></i> <span>20</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-header text-center">
                  <img src="./assets/img/portrait/small/avatar-s-12.png" alt="Gini" width="150" class="rounded-circle gradient-back-to-earth">
              </div>
              <div class="card-content">
                  <div class="card-body text-center">
                      <h4 class="card-title">Gini Fredre</h4>
                      <p class="category text-gray font-small-4">HR</p>
                      <a class="btn btn-lg gradient-back-to-earth font-small-2 white p-2 mr-2">Add as Friend</a>
                      <a class="btn btn-lg btn-outline-grey font-small-2 p-2">Message</a>
                      <hr class="grey">
                      <div class="row grey">
                          <div class="col-4">
                              <a><i class="ft-star mr-1">star</i> <span>4.4</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-globe mr-1"></i> <span>Korea</span></a>
                          </div>
                          <div class="col-4">
                              <a><i class="ft-book mr-1"></i> <span>15</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--User's friend section starts-->